.header {
    background: #FFFFFF;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    max-width: 1512px;
}

.header__logo {
    color: #F5C800;
    text-decoration: none;
    font-style: italic;
    font-weight: 500px;
    font-size: 30px;
}